<!DOCTYPE html>
<html lang="de" ng-app="app">
   <head>
      <!--
         _________________________________________________
         This Website is powered by:
                 __        __  ___ 
          /\  | |__) |    /__`  |  
         /~~\ | |  \ |___ .__/  |  
         
         AirLST GmbH
         Seitzstraße 23
         80538 München
         T: +49 89 540 455 7 20
         W: www.airlst.com
         F: www.facebook.com/AirLSTApp
         _________________________________________________
         -->
      <meta charset="utf-8">
      <meta name="robots" content="noindex">
      <meta http-equiv="cache-control" content="no-store">
      <title>Amid Autumn Glow</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon.ico">
      <meta name="robots" content="noindex, nofollow">
      <!-- Styles -->
      <link rel="stylesheet" href="./css/vendor/bootstrap.min.css">
      <link rel="stylesheet" href="./css/vendor/sweetalert.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="./css/main.css">
      <!-- JavaScript -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
      <script src="./js/vendor/jquery-1.11.0.min.js"></script>
      <script src="./js/vendor/SweetAlert.js"></script>
      <script src="./js/vendor/sweetalert.min.js"></script>
      <script src="./js/vendor/moment.min.js"></script>
      <script src="./js/vendor/angular-timer-all.min.js"></script>
      <script src="https://cdn.airlst.com/airlst-sdk/1.0.15/airlst-sdk.js"></script>
      <script src="./js/vendor/angular-animate.min.js"></script>
      <script src="./js/airlst.js"></script>
      <script src="https://kit.fontawesome.com/66589752cb.js" crossorigin="anonymous"></script>
      <style>
         .body-style { overflow:hidden;}
         ::-webkit-scrollbar {
         width: 0px;
         }
         .regy {
         height: 500px; overflow: auto;padding: 25px;
         }
         /* Track */
         ::-webkit-scrollbar-track {
         background: transparent;
         }
         /* Handle */
         ::-webkit-scrollbar-thumb {
         background: transparent;
         }
         /* Handle on hover */
         ::-webkit-scrollbar-thumb:hover {
         background: transparent;
         }

         @media (max-width: 1600px) {
            .header-mobile { padding-left: 150px !important }
         }
         .label2::before {content: '';display: none !important;}
         .label2::after {content: '';display: none !important;}
      </style>
   </head>
   <body ng-controller="AirLSTCtrl as vm" class="bodystyle">
      <header>
         <div class="container-fluid p-0" style="background: url(./img/Titelbild_b.gif); background-size: cover; background-repeat: no-repeat; padding-bottom: 100px;">
            <div class="container header-mobile">
            <div class="row">
               <div class="col-md-12" style="color: #fff !important;">
                  <div class="row">
                     
                     <div class="col-md-12 mb-1" style="margin-top: 20px;">
                        <timer countdown="vm.countdownTime" max-time-unit="'day'" interval="1000">
                           <div class="timer-wrap">
                              <div class="countdown-box">{{ddays}}<br><span class="counter" style="position: relative; left: -2px;">Days<span ng-show="dayS == 's'"></span></span></div>
                           </div>
                           <div class="timer-wrap">
                              <div class="countdown-box">{{hhours}}<br><span class="counter">Hours<span ng-show="hoursS == 's'"></span></span></div>
                           </div>
                           <div class="timer-wrap">
                              <div class="countdown-box">{{mminutes}}<br><span class="counter">Minutes<span ng-show="minutesS == 's'"></span></span></div>
                           </div>
                           <div class="timer-wrap">
                              <div class="countdown-box">{{sseconds}}<br><span class="counter">Seconds<span ng-show="secondsS == 's'"></span></span></div>
                           </div>
                        </timer>
                     </div>
                     <div class="col-md-12" style="font-size: 40px; text-transform: uppercase;font-family: 'Brown Regular', sans-serif; margin-top: 280px;">October 28.2021</div>
                     <div class="col-md-12 mb-5" style="font-size: 40px; text-transform: uppercase;font-family: 'Brown Regular', sans-serif;"><span style="font-size: 20px;">Art | Auction | Dinner | Performance</span></div>
                  </div>
               </div>
            </div>
         </div>
         </div>
         <div class="container ps-0 pb-5" ng-if="!vm.loading && !vm.submitting" style="background: #ffffff;">
            <!-- Content ============================================== -->
            <div ng-if="vm.currentView == 'code'" class="content fade-animation" id="registration">
               <div class="container">
                  <div class="row">
                     <!-- Registration Form
                        ============================================== -->
                     <form name="registrationForm" novalidate>
                        <div class="row mt-5">
                           <div class="col-md-12">
                              <span style="font-size: 30px; text-transform: uppercase;color: #e6005e">Participation<br><br></span>
                           </div>
                           <div class="col-md-12 mt-3">
                              <input type="radio" id="yes" name="participate" value="yes" ng-click="vm.setAnswerType('confirm');" class="party">
                              <label for="yes" style="padding-left: 48px;padding-top: 3px; cursor: pointer;background: #000; color:#fff; padding: 10px 25px 10px 25px; border-radius: 0;">I will attend the Amid Autumn Glow</label>
                           </div>
                           <div class="col-md-12 mt-3">
                              <input type="radio" id="no" name="participate" style="font-size: 23px; font-weight: 200;" value="no" ng-click="vm.setAnswerType('cancel')" class="party">
                              <label for="no" style=" padding-left: 48px;padding-top: 3px; cursor: pointer;background: #000; color:#fff; padding: 10px 25px 10px 25px; border-radius: 0;">Unfortunately, I cannot attend</label>
                           </div>
                        </div>
                        <div class="row mt-5" ng-if="vm.answerType != 'undefined' ">
                           <h2 class="mt-3 mb-5" ng-if="vm.answerType == 'confirm' ">We’re happy you will be participating!<br>Please register for the Amid Autumn Glow by filling out the form.</h2>
                           <h2 class="mt-3 mb-5" ng-if="vm.answerType == 'cancel' ">Thank you for your interest!<br>Please register for additional information about the auction by filling out the form.</h2>
                           <!--<div class="col-md-12 mt-5">
                              <input type="radio" class="form-control" id="female" name="anrede" value="female" ng-model="vm.rsvpInformation.contact.sex" required>
                              <label for="female">Ms.</label>
                              <input type="radio" class="form-control" id="male" name="anrede" value="male" ng-model="vm.rsvpInformation.contact.sex" required>
                              <label for="male">Mr.</label>
                              </div>-->
                              <div class="col-md-12">
                                 <div class="row">
                                    <div class="col-md-3">
                                 <label for="Title">Title</label>
                                 <select class="form-control brenntag-input" name="Title" id="Title"
                                 ng-model="vm.rsvpInformation.rsvp.custom_3"
                                 >
                                 <option value=""> </option>
                                 <option value="Dr.">Dr.</option>
                                 <option value="Professor">Professor</option>
                               </select>
                              </div>
                           </div>
                                       </div>
                           <div class="col-md-6 mt-5 mb-3">
                              <label for="name">First Name*</label>
                              <input id="name" name="name" type="text" class="form-control" ng-model="vm.rsvpInformation.contact.first_name" ng-readonly="vm.rsvpInformation.rsvp.status==='confirmed'" required>
                           </div>
                           <div class="col-md-6 mt-5 mb-3">
                              <label for="lastname">Last Name*</label>
                              <input id="lastname" name="lastname" type="text" class="form-control" ng-model="vm.rsvpInformation.contact.last_name" ng-readonly="vm.rsvpInformation.rsvp.status==='confirmed'" required>
                           </div>
                           <div class="col-md-6 mt-3 mb-3">
                              <label for="lastname">Street and No.*</label>
                              <input id="lastname" name="lastname" type="text" class="form-control" ng-model="vm.rsvpInformation.contact.business_street" required>
                           </div>
                           <div class="col-md-6 mt-3 mb-3">
                              <label for="zip">ZIP Code*</label>
                              <input id="zip" name="zip" type="text" class="form-control" ng-model="vm.rsvpInformation.contact.business_zip" required>
                           </div>
                           <div class="col-md-6 mt-3 mb-3">
                              <label for="zip">City*</label>
                              <input id="city" name="city" type="text" class="form-control" ng-model="vm.rsvpInformation.contact.business_city" required>
                           </div>
                           <div class="col-md-6 mt-3 mb-3">
                              <label for="contact_business_country">Country*</label>
                              <select name="business_country" id="contact_business_country" ng-model="vm.rsvpInformation.contact.business_country" class="form-control">
                                 <option value="" selected="selected"></option>
                                 <option label="Afghanistan" value="AF">Afghanistan</option>
                                 <option label="Albania" value="AL">Albania</option>
                                 <option label="Algeria" value="DZ">Algeria</option>
                                 <option label="AmericanSamoa" value="AS">AmericanSamoa</option>
                                 <option label="Andorra" value="AD">Andorra</option>
                                 <option label="Angola" value="AO">Angola</option>
                                 <option label="Anguilla" value="AI">Anguilla</option>
                                 <option label="Antarctica" value="AQ">Antarctica</option>
                                 <option label="Antigua and Barbuda" value="AG">Antigua and Barbuda</option>
                                 <option label="Argentina" value="AR">Argentina</option>
                                 <option label="Armenia" value="AM">Armenia</option>
                                 <option label="Aruba" value="AW">Aruba</option>
                                 <option label="Australia" value="AU">Australia</option>
                                 <option label="Austria" value="AT">Austria</option>
                                 <option label="Azerbaijan" value="AZ">Azerbaijan</option>
                                 <option label="Bahamas" value="BS">Bahamas</option>
                                 <option label="Bahrain" value="BH">Bahrain</option>
                                 <option label="Bangladesh" value="BD">Bangladesh</option>
                                 <option label="Barbados" value="BB">Barbados</option>
                                 <option label="Belarus" value="BY">Belarus</option>
                                 <option label="Belgium" value="BE">Belgium</option>
                                 <option label="Belize" value="BZ">Belize</option>
                                 <option label="Benin" value="BJ">Benin</option>
                                 <option label="Bermuda" value="BM">Bermuda</option>
                                 <option label="Bhutan" value="BT">Bhutan</option>
                                 <option label="Bolivia, Plurinational State of" value="BO">Bolivia, Plurinational State of</option>
                                 <option label="Bosnia and Herzegovina" value="BA">Bosnia and Herzegovina</option>
                                 <option label="Botswana" value="BW">Botswana</option>
                                 <option label="Brazil" value="BR">Brazil</option>
                                 <option label="British Indian Ocean Territory" value="IO">British Indian Ocean Territory</option>
                                 <option label="Brunei Darussalam" value="BN">Brunei Darussalam</option>
                                 <option label="Bulgaria" value="BG">Bulgaria</option>
                                 <option label="Burkina Faso" value="BF">Burkina Faso</option>
                                 <option label="Burundi" value="BI">Burundi</option>
                                 <option label="Cambodia" value="KH">Cambodia</option>
                                 <option label="Cameroon" value="CM">Cameroon</option>
                                 <option label="Canada" value="CA">Canada</option>
                                 <option label="Cape Verde" value="CV">Cape Verde</option>
                                 <option label="Cayman Islands" value="KY">Cayman Islands</option>
                                 <option label="Central African Republic" value="CF">Central African Republic</option>
                                 <option label="Chad" value="TD">Chad</option>
                                 <option label="Chile" value="CL">Chile</option>
                                 <option label="China" value="CN">China</option>
                                 <option label="Christmas Island" value="CX">Christmas Island</option>
                                 <option label="Cocos (Keeling) Islands" value="CC">Cocos (Keeling) Islands</option>
                                 <option label="Colombia" value="CO">Colombia</option>
                                 <option label="Comoros" value="KM">Comoros</option>
                                 <option label="Congo" value="CG">Congo</option>
                                 <option label="Congo, The Democratic Republic of the" value="CD">Congo, The Democratic Republic of the</option>
                                 <option label="Cook Islands" value="CK">Cook Islands</option>
                                 <option label="Costa Rica" value="CR">Costa Rica</option>
                                 <option label="Cote d'Ivoire" value="CI">Cote d'Ivoire</option>
                                 <option label="Croatia" value="HR">Croatia</option>
                                 <option label="Cuba" value="CU">Cuba</option>
                                 <option label="Cyprus" value="CY">Cyprus</option>
                                 <option label="Czech Republic" value="CZ">Czech Republic</option>
                                 <option label="Denmark" value="DK">Denmark</option>
                                 <option label="Djibouti" value="DJ">Djibouti</option>
                                 <option label="Dominica" value="DM">Dominica</option>
                                 <option label="Dominican Republic" value="DO">Dominican Republic</option>
                                 <option label="Ecuador" value="EC">Ecuador</option>
                                 <option label="Egypt" value="EG">Egypt</option>
                                 <option label="El Salvador" value="SV">El Salvador</option>
                                 <option label="Equatorial Guinea" value="GQ">Equatorial Guinea</option>
                                 <option label="Eritrea" value="ER">Eritrea</option>
                                 <option label="Estonia" value="EE">Estonia</option>
                                 <option label="Ethiopia" value="ET">Ethiopia</option>
                                 <option label="Falkland Islands(Malvinas)" value="FK">Falkland Islands(Malvinas)</option>
                                 <option label="Faroe Islands" value="FO">Faroe Islands</option>
                                 <option label="Fiji" value="FJ">Fiji</option>
                                 <option label="Finland" value="FI">Finland</option>
                                 <option label="France" value="FR">France</option>
                                 <option label="French Guiana" value="GF">French Guiana</option>
                                 <option label="French Polynesia" value="PF">French Polynesia</option>
                                 <option label="Gabon" value="GA">Gabon</option>
                                 <option label="Gambia" value="GM">Gambia</option>
                                 <option label="Georgia" value="GE">Georgia</option>
                                 <option label="Germany" value="DE">Germany</option>
                                 <option label="Ghana" value="GH">Ghana</option>
                                 <option label="Gibraltar" value="GI">Gibraltar</option>
                                 <option label="Greece" value="GR">Greece</option>
                                 <option label="Greenland" value="GL">Greenland</option>
                                 <option label="Grenada" value="GD">Grenada</option>
                                 <option label="Guadeloupe" value="GP">Guadeloupe</option>
                                 <option label="Guam" value="GU">Guam</option>
                                 <option label="Guatemala" value="GT">Guatemala</option>
                                 <option label="Guernsey" value="GG">Guernsey</option>
                                 <option label="Guinea" value="GN">Guinea</option>
                                 <option label="Guinea-Bissau" value="GW">Guinea-Bissau</option>
                                 <option label="Guyana" value="GY">Guyana</option>
                                 <option label="Haiti" value="HT">Haiti</option>
                                 <option label="Holy See(Vatican City State)" value="VA">Holy See(Vatican City State)</option>
                                 <option label="Honduras" value="HN">Honduras</option>
                                 <option label="Hong Kong" value="HK">Hong Kong</option>
                                 <option label="Hungary" value="HU">Hungary</option>
                                 <option label="Iceland" value="IS">Iceland</option>
                                 <option label="India" value="IN">India</option>
                                 <option label="Indonesia" value="ID">Indonesia</option>
                                 <option label="Iran, Islamic Republic of" value="IR">Iran, Islamic Republic of</option>
                                 <option label="Iraq" value="IQ">Iraq</option>
                                 <option label="Ireland" value="IE">Ireland</option>
                                 <option label="Isle of Man" value="IM">Isle of Man</option>
                                 <option label="Israel" value="IL">Israel</option>
                                 <option label="Italy" value="IT">Italy</option>
                                 <option label="Jamaica" value="JM">Jamaica</option>
                                 <option label="Japan" value="JP">Japan</option>
                                 <option label="Jersey" value="JE">Jersey</option>
                                 <option label="Jordan" value="JO">Jordan</option>
                                 <option label="Kazakhstan" value="KZ">Kazakhstan</option>
                                 <option label="Kenya" value="KE">Kenya</option>
                                 <option label="Kiribati" value="KI">Kiribati</option>
                                 <option label="Korea, Democratic People's Republic of" value="KP">Korea, Democratic People's Republic of</option>
                                 <option label="Korea, Republic of" value="KR">Korea, Republic of</option>
                                 <option label="Kosovo" value="XK">Kosovo</option>
                                 <option label="Kuwait" value="KW">Kuwait</option>
                                 <option label="Kyrgyzstan" value="KG">Kyrgyzstan</option>
                                 <option label="Lao People's Democratic Republic" value="LA">Lao People's Democratic Republic</option>
                                 <option label="Latvia" value="LV">Latvia</option>
                                 <option label="Lebanon" value="LB">Lebanon</option>
                                 <option label="Lesotho" value="LS">Lesotho</option>
                                 <option label="Liberia" value="LR">Liberia</option>
                                 <option label="Libyan Arab Jamahiriya" value="LY">Libyan Arab Jamahiriya</option>
                                 <option label="Liechtenstein" value="LI">Liechtenstein</option>
                                 <option label="Lithuania" value="LT">Lithuania</option>
                                 <option label="Luxembourg" value="LU">Luxembourg</option>
                                 <option label="Macao" value="MO">Macao</option>
                                 <option label="Macedonia, The Former Yugoslav Republic of" value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                 <option label="Madagascar" value="MG">Madagascar</option>
                                 <option label="Malawi" value="MW">Malawi</option>
                                 <option label="Malaysia" value="MY">Malaysia</option>
                                 <option label="Maldives" value="MV">Maldives</option>
                                 <option label="Mali" value="ML">Mali</option>
                                 <option label="Malta" value="MT">Malta</option>
                                 <option label="Marshall Islands" value="MH">Marshall Islands</option>
                                 <option label="Martinique" value="MQ">Martinique</option>
                                 <option label="Mauritania" value="MR">Mauritania</option>
                                 <option label="Mauritius" value="MU">Mauritius</option>
                                 <option label="Mayotte" value="YT">Mayotte</option>
                                 <option label="Mexico" value="MX">Mexico</option>
                                 <option label="Micronesia, Federated States of" value="FM">Micronesia, Federated States of</option>
                                 <option label="Moldova, Republic of" value="MD">Moldova, Republic of</option>
                                 <option label="Monaco" value="MC">Monaco</option>
                                 <option label="Mongolia" value="MN">Mongolia</option>
                                 <option label="Montenegro" value="ME">Montenegro</option>
                                 <option label="Montserrat" value="MS">Montserrat</option>
                                 <option label="Morocco" value="MA">Morocco</option>
                                 <option label="Mozambique" value="MZ">Mozambique</option>
                                 <option label="Myanmar" value="MM">Myanmar</option>
                                 <option label="Namibia" value="NA">Namibia</option>
                                 <option label="Nauru" value="NR">Nauru</option>
                                 <option label="Nepal" value="NP">Nepal</option>
                                 <option label="Netherlands" value="NL">Netherlands</option>
                                 <option label="Netherlands Antilles" value="AN">Netherlands Antilles</option>
                                 <option label="New Caledonia" value="NC">New Caledonia</option>
                                 <option label="New Zealand" value="NZ">New Zealand</option>
                                 <option label="Nicaragua" value="NI">Nicaragua</option>
                                 <option label="Niger" value="NE">Niger</option>
                                 <option label="Nigeria" value="NG">Nigeria</option>
                                 <option label="Niue" value="NU">Niue</option>
                                 <option label="Norfolk Island" value="NF">Norfolk Island</option>
                                 <option label="Northern Mariana Islands" value="MP">Northern Mariana Islands</option>
                                 <option label="Norway" value="NO">Norway</option>
                                 <option label="Oman" value="OM">Oman</option>
                                 <option label="Pakistan" value="PK">Pakistan</option>
                                 <option label="Palau" value="PW">Palau</option>
                                 <option label="Palestinian Territory, Occupied" value="PS">Palestinian Territory, Occupied</option>
                                 <option label="Panama" value="PA">Panama</option>
                                 <option label="Papua New Guinea" value="PG">Papua New Guinea</option>
                                 <option label="Paraguay" value="PY">Paraguay</option>
                                 <option label="Peru" value="PE">Peru</option>
                                 <option label="Philippines" value="PH">Philippines</option>
                                 <option label="Pitcairn" value="PN">Pitcairn</option>
                                 <option label="Poland" value="PL">Poland</option>
                                 <option label="Portugal" value="PT">Portugal</option>
                                 <option label="Puerto Rico" value="PR">Puerto Rico</option>
                                 <option label="Qatar" value="QA">Qatar</option>
                                 <option label="Romania" value="RO">Romania</option>
                                 <option label="Russia" value="RU">Russia</option>
                                 <option label="Rwanda" value="RW">Rwanda</option>
                                 <option label="Réunion" value="RE">Réunion</option>
                                 <option label="Saint Barthélemy" value="BL">Saint Barthélemy</option>
                                 <option label="Saint Helena, Ascension and Tristan Da Cunha" value="SH">Saint Helena, Ascension and Tristan Da Cunha</option>
                                 <option label="Saint Kitts and Nevis" value="KN">Saint Kitts and Nevis</option>
                                 <option label="Saint Lucia" value="LC">Saint Lucia</option>
                                 <option label="Saint Martin" value="MF">Saint Martin</option>
                                 <option label="Saint Pierre and Miquelon" value="PM">Saint Pierre and Miquelon</option>
                                 <option label="Saint Vincent and the Grenadines" value="VC">Saint Vincent and the Grenadines</option>
                                 <option label="Samoa" value="WS">Samoa</option>
                                 <option label="San Marino" value="SM">San Marino</option>
                                 <option label="Sao Tome and Principe" value="ST">Sao Tome and Principe</option>
                                 <option label="Saudi Arabia" value="SA">Saudi Arabia</option>
                                 <option label="Senegal" value="SN">Senegal</option>
                                 <option label="Serbia" value="RS">Serbia</option>
                                 <option label="Seychelles" value="SC">Seychelles</option>
                                 <option label="Sierra Leone" value="SL">Sierra Leone</option>
                                 <option label="Singapore" value="SG">Singapore</option>
                                 <option label="Slovakia" value="SK">Slovakia</option>
                                 <option label="Slovenia" value="SI">Slovenia</option>
                                 <option label="Solomon Islands" value="SB">Solomon Islands</option>
                                 <option label="Somalia" value="SO">Somalia</option>
                                 <option label="South Africa" value="ZA">South Africa</option>
                                 <option label="South Georgia and the South Sandwich Islands" value="GS">South Georgia and the South Sandwich Islands</option>
                                 <option label="Spain" value="ES">Spain</option>
                                 <option label="Sri Lanka" value="LK">Sri Lanka</option>
                                 <option label="Sudan" value="SD">Sudan</option>
                                 <option label="Suriname" value="SR">Suriname</option>
                                 <option label="Svalbard and Jan Mayen" value="SJ">Svalbard and Jan Mayen</option>
                                 <option label="Swaziland" value="SZ">Swaziland</option>
                                 <option label="Sweden" value="SE">Sweden</option>
                                 <option label="Switzerland" value="CH">Switzerland</option>
                                 <option label="Syrian Arab Republic" value="SY">Syrian Arab Republic</option>
                                 <option label="Taiwan, Province of China" value="TW">Taiwan, Province of China</option>
                                 <option label="Tajikistan" value="TJ">Tajikistan</option>
                                 <option label="Tanzania, United Republic of" value="TZ">Tanzania, United Republic of</option>
                                 <option label="Thailand" value="TH">Thailand</option>
                                 <option label="Timor - Leste" value="TL">Timor - Leste</option>
                                 <option label="Togo" value="TG">Togo</option>
                                 <option label="Tokelau" value="TK">Tokelau</option>
                                 <option label="Tonga" value="TO">Tonga</option>
                                 <option label="Trinidad and Tobago" value="TT">Trinidad and Tobago</option>
                                 <option label="Tunisia" value="TN">Tunisia</option>
                                 <option label="Turkey" value="TR">Turkey</option>
                                 <option label="Turkmenistan" value="TM">Turkmenistan</option>
                                 <option label="Turks and Caicos Islands" value="TC">Turks and Caicos Islands</option>
                                 <option label="Tuvalu" value="TV">Tuvalu</option>
                                 <option label="Uganda" value="UG">Uganda</option>
                                 <option label="Ukraine" value="UA">Ukraine</option>
                                 <option label="United Arab Emirates" value="AE">United Arab Emirates</option>
                                 <option label="United Kingdom" value="GB">United Kingdom</option>
                                 <option label="United States" value="US">United States</option>
                                 <option label="Uruguay" value="UY">Uruguay</option>
                                 <option label="Uzbekistan" value="UZ">Uzbekistan</option>
                                 <option label="Vanuatu" value="VU">Vanuatu</option>
                                 <option label="Venezuela, Bolivarian Republic of" value="VE">Venezuela, Bolivarian Republic of</option>
                                 <option label="Viet Nam" value="VN">Viet Nam</option>
                                 <option label="Virgin Islands, British" value="VG">Virgin Islands, British</option>
                                 <option label="Virgin Islands, U . S . " value="VI">Virgin Islands, U . S . </option>
                                 <option label="Wallis and Futuna" value="WF">Wallis and Futuna</option>
                                 <option label="Yemen" value="YE">Yemen</option>
                                 <option label="Zambia" value="ZM">Zambia</option>
                                 <option label="Zimbabwe" value="ZW">Zimbabwe</option>
                                 <option label="land Islands" value="AX">land Islands</option>
                              </select>
                           </div>
                           <div class="col-md-6 mb-3 mt-3">
                              <label for="email">E-Mail*</label>
                              <input id="email" name="email" type="email" class="form-control" ng-pattern="/[\w\-\._]+@[\w\-\._]+\.\w{2,10}/" ng-model="vm.rsvpInformation.contact.email" required>
                           </div>
                           <div class="col-md-6 mt-3 mb-5">
                              <label for="zip">Mobile Phone</label>
                              <input id="mobile" name="mobile" type="text" class="form-control" ng-model="vm.rsvpInformation.contact.business_phone_2">
                           </div>
                           <div class="col-md-12 mt-3 mb-3" ng-if="vm.answerType == 'confirm' ">
                              <input class="form-control" type="radio" id="vaccine4" name="vaccine" ng-model="vm.rsvpInformation.rsvp.custom_1" value="I have recovered from Covid-19" required>
                              <label for="vaccine4" style=" cursor: pointer;">I have recovered from Covid-19</label><br>
                           </div>
                           <div class="col-md-12 mt-3 mb-3" ng-if="vm.answerType == 'confirm' ">
                              <input class="form-control" type="radio" id="vaccine" name="vaccine" ng-model="vm.rsvpInformation.rsvp.custom_1" value="I will be fully vaccinated by October 28.2021" required>
                              <label for="vaccine" style=" cursor: pointer;">I will be fully vaccinated by October 28.2021</label><br>
                           </div>
                           <div class="col-md-12 mt-3 mb-3" ng-if="vm.answerType == 'confirm' ">
                              <input class="form-control" type="radio" id="vaccine2" name="vaccine" ng-model="vm.rsvpInformation.rsvp.custom_1" value="Prefer not to say" required>
                              <label for="vaccine2" style=" cursor: pointer;">I will provide a negative test result on the day of the event (not older than 48h)</label><br>
                           </div>
                           <div class="col-md-12 mt-3 mb-3" ng-if="vm.answerType == 'confirm' ">
                              <span>This information may influence the number of visitors permitted to the reception and is being requested only for organizational purposes. It has no effect on your confirmation. We thank you for your cooperation!</span>
                           </div>
                           <div>
                              <div  ng-if="vm.answerType == 'confirm'">
                                 <div class="row mt-5">
                                    <div class="col-md-12">
                                       <h2>ACCOMPANYING PERSON(s)</h2>
                                    </div>
                                 </div>
                                 <div ng-repeat="guest in vm.rsvpInformation.guests">
                                    <div class="row mt-5">
                                       <div class="col-md-12 mb-3">
                                          <div class="row">
                                             <div class="col-md-3">
                                          <label for="Title">Title</label>
                                          <select class="form-control brenntag-input" name="Title" id="Title"
                                          ng-model="guest.rsvp.custom_3"
                                          >
                                          <option value=""> </option>
                                          <option value="Dr.">Dr.</option>
                                          <option value="Professor">Professor</option>
                                        </select>
                                       </div>
                                    </div>
                                                </div>
                                       <div class="col-md-6 mt-1 mb-3">
                                          <label for="guest-name">First Name*</label>
                                          <input id="guest-name" name="guest-name" type="text" class="form-control" ng-model="guest.contact.first_name" required>
                                       </div>
                                       <div class="col-md-6 mt-1 mb-3">
                                          <label for="guest-lastname">Last Name*</label>
                                          <input id="guest-lastname" name="guest-lastname" type="text" class="form-control" ng-model="guest.contact.last_name" required>
                                       </div>
                                       <div class="col-md-6 mt-3 mb-3">
                                          <label for="guest-lastname">Email*</label>
                                          <input id="guest-lastname" name="guest-lastname" type="text" class="form-control" ng-model="guest.contact.email" required>
                                       </div>
                                       <div class="col-md-12 mt-3 mb-3" ng-if="vm.answerType == 'confirm' ">
                                          <input type="radio" name="vaccine-guest" ng-model="guest.rsvp.custom_1" value="I have recovered from Covid-19" style="display: inline; width:15px; height:15px;" required>
                                          <label class="label2" style=" cursor: pointer;">The guest recovered from Covid-19</label><br>
                                       </div>
                                       <div class="col-md-12 mt-3 mb-3">
                                          <input type="radio" ng-model="guest.rsvp.custom_1" value="I will be fully vaccinated by October 28.2021" style="display: inline; width:15px; height:15px;" required>
                                          <label class="label2" style=" cursor: pointer;">The guest will be fully vaccinated by October 28.2021</label><br>
                                       </div>
                                       <div class="col-md-12 mt-3 mb-3">
                                          <input type="radio" ng-model="guest.rsvp.custom_1" value="Provide a negative test" style="display: inline; width:15px; height:15px;" required>
                                          <label class="label2" style=" cursor: pointer;">The guest will provide a negative test result on the day of the event (not older than 48h)</label><br>
                                       </div>
                                       <div class="col-md-12 mt-3 mb-3">
                                          This information may influence the number of visitors permitted to the event and is being requested only for organizational purposes. It has no effect on your confirmation. We thank you for your cooperation!
                                       </div>
                                       <div class="col-md-12 mt-3">
                                          <button type="button" class="btn btn-primary mb-3 btn-guest" ng-click="vm.removeGuest(guest);">REMOVE ACCOMPANYING PERSON</button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div  ng-if="vm.answerType == 'confirm' ">
                                 <button type="button" class="btn btn-primary btn-guest mb-3" id="add_guest" ng-click="vm.addGuest();">ADD AN ACCOMPANYING PERSON</button>
                              </div>
                           </div>
                           <div class="mt-5" ng-if="vm.answerType == 'confirm' ">
                              <input type="checkbox" class="form-control" id="data-protection" ng-model="vm.rsvpInformation.rsvp.privacy_policy" ng-true-value="true" ng-false-value="false" required>
                              <label for="data-protection" class="checkbox">I agree that photos and/or videos are taken of the attendees during the course of the event may be utilized and published by the FREUNDE HAUS DER KUNST for the purpose of reporting and media coverage.
                              <a href="https://www.freunde-hausderkunst.de/impressum/" target="_blank">Privacy Policy</a><br>
                              </label>
                           </div>
                           <div class="mt-5" ng-if="vm.answerType == 'cancel' ">
                              <input type="checkbox" class="form-control" id="data-protection" ng-model="vm.rsvpInformation.rsvp.privacy_policy" ng-true-value="true" ng-false-value="false" required>
                              <label for="data-protection" class="checkbox">I agree with the Freunde Haus der Kunst <a href="https://www.freunde-hausderkunst.de/impressum/" target="_blank">Privacy Policy</a><br>
                              </label>
                           </div>
                           <div class="mt-5">
                              <div ng-if="vm.answerType == 'confirm' ">
                                 <button class="btn btn-primary btn-confirm mt-3 mb-3" ng-click="vm.createRsvp(registrationForm)">Confirm & Sign up</button>
                              </div>
                              <div ng-if="vm.answerType == 'cancel' ">
                                 <button class="btn btn-primary mt-3 mb-3" ng-click="vm.cancelRsvp(registrationForm)">Confirm & Sign up</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            <div ng-if="vm.currentView == 'done'" class="content">
               <div class="row">
                  <div class="col-xs-12">
                     <h2 class="mt-5">Your Registration to the<br>Amid Autumn Glow<br>was successfull
                     </h2>
                     <p>You will receive all further information by email. Please also check your spam.</p>
                     <button class="btn btn-primary btn-block" id="btn-register" onclick="top.location.href = 'https://www.freunde-hausderkunst.de/';">Freunde Haus der Kunst</button>
                  </div>
               </div>
            </div>
            <div ng-if="vm.currentView == 'cancel'" class="content">
               <div class="row">
                  <div class="col-xs-12">
                     <h2 class="mt-5">We are sorry, that you can not attend the Amid Autumn Glow<br>We will keep you updated.
                     </h2>
                     <p>You will receive all further information by email. Please also check your spam.</p>
                     <button class="btn btn-primary btn-block" id="btn-register" onclick="top.location.href = 'https://www.freunde-hausderkunst.de/';">Freunde Haus der Kunst</button>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </header>
      <div class="container" ng-if="vm.loading">
         <p class="text-center">Data is processing</p>
      </div>
      <div class="container" ng-if="vm.submitting">
         <p class="text-center">Data is processing</p>
      </div>
      <footer>
         <div class="container-fluid">
            <div class="container-fluid countdown-wrapper pt-3 footer-container" style="border-top: 1px solid #000;">
               <div class="row">
                  <div class="col-md-4">
                     <a href="https://www.freunde-hausderkunst.de/"><img src="img/HKF-logo.png"></a>
                  </div>
                  <div class="col-md-8 text-end">
                     <a class="social-icon" href="https://www.facebook.com/hausderkunstfreunde/" target="_blank" rel="noopener"><i class="fab fa-facebook-f""></i></a>
                     <!--<a class="social-icon" href="https://www.xing.com/companies/airlstgmbh" target="_blank" rel="noopener"><i class="fab fa-xing"></i></a>-->
                     <a class="social-icon" href="https://www.linkedin.com/in/haus-der-kunst-freunde-98016b115" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a>
                     <a class="social-icon" href="https://www.instagram.com/hausderkunstfreunde/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
                     <!--<a class="social-icon" href="https://www.youtube.com/channel/UCKv6sDBv7NTw40H8kDiVSug" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>-->
                     <p class="footer-links">
                        <a href="https://www.freunde-hausderkunst.de/impressum/" target="_blank" rel="noopener">Imprint & Privacy Policy</a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>